body{
	font-family: IRANSans !important;font-size:14px}
	html{overflow-x:hidden;position:relative;min-height:100%}
	h1,h2,h3,h4,h5,h6{font-family: IRANSans;margin:10px 0;font-weight:600}
    @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts_fa/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts_fa/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
        url('../fonts_fa/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
        url('../fonts_fa/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts_fa/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts_fa/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../fonts_fa/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
        url('../fonts_fa/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
        url('../fonts_fa/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts_fa/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts_fa/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts_fa/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
        url('../fonts_fa/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
        url('../fonts_fa/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts_fa/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts_fa/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts_fa/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
        url('../fonts_fa/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
        url('../fonts_fa/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts_fa/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts_fa/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts_fa/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
        url('../fonts_fa/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
        url('../fonts_fa/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts_fa/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

	
	#vid-container {
      width:100%;
      height:100%;
      width: 820px; 
      height: 461.25px; 
      float: none; 
      clear: both; 
      margin: 2px auto;
   }

    svg {
     border-radius:3px;
    }    
    .node {
        cursor: pointer;
    }

    .node circle {
      fill: #fff;
      stroke: #99ccff;;
      stroke-width: 3px;
    }

    .node text {
      font: 12px IRANSans;
	  color:red !important;
	  font-weight:600;
    }

    .link {
      fill: none;
      stroke: #99ccff;
	  opacity:0.6;
      stroke-width: 2px;
    }

.hyper {
    color: red;
    text-decoration: underline;
}

.hyper:hover {
    color:yellow;
    text-decoration: none;
}   
.selected {
  font-weight:bold;
}
.not-selected {
  font-weight:normtal;
}



